.spell-1 {
    background: url('../images/spell-1.jpg');
}

.spell-2 {
    background: url('../images/spell-2.jpg');
}

.spell-3 {
    background: url('../images/spell-3.jpg');
}

.spell-4 {
    background: url('../images/spell-4.jpg');
}

.spell-5 {
    background: url('../images/spell-5.jpg');
}


[class*="spell"] {
    height: 300px;
    ;
    border-radius: 1rem;
    margin-bottom: 1rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}